%section#development-environment{data: {magellan: {target: 'development-environment'}}}
  %h2 Development Environment
  %p
    A&nbsp;
    %a{href: 'https://en.wikipedia.org/wiki/Deployment_environment#Development'} development environment
    &nbsp;is where we will be developing (i.e. building) our project. For this course, your development environment will, at a minimum, require&nbsp;
    %a{href: '#git'} Git
    &nbsp;and&nbsp;
    = succeed '.&nbsp;' do
      %a{href: '#containers'} Docker containers
    Other requirements will be added depending on your project.
  %p 
    %a{href: '#git'} Git
    &nbsp;is how we manage our application's code, which controls our application.&nbsp;
    %a{href: '#containers'} Docker containers
    &nbsp;is how we manage our application's dependencies, e.g. libraries, operating system packages, and other environment requirements.&nbsp;
    With these two tools, we can control our application and its environment. Being able to control your application and its environment allows any developer, teammate, or instructor to pull up your project on their own development environment. This can be useful if you need help troubleshooting or to get feedback on a feature you are developing. Having the application and its environment controlled avoids the age-old problem of "
    = succeed '".' do
      %a{href: 'https://www.leadingagile.com/2017/03/works-on-my-machine/'} it works on my machine

  %h3 Development Environment Recommendations
  %p
    You can set up your development environment anyway you choose as long as it supports Git and containers.&nbsp;
    If you do not have a preference, then the following recommendations are good starting points:
  %ul
    %li
      %p
        Linux Operating System: containers will run natively on your machine's operating system. You can use any flavor of Linux that is supported by Docker, but if you have no preference, then the easiest distribution to start learning on is&nbsp;
        = succeed '.' do
          %a{href: 'https://www.ubuntu.com/'} Ubuntu
    %li
      %p
        Mac Operating System: containers can run on Apple deskop and laptops with&nbsp;
        = succeed '.' do
          %a{href: 'https://www.docker.com/docker-mac'} Docker for Mac
        &nbsp;This is the setup I work with on a day-to-day basis, so it will be the easiest for me to lend a hand with this setup.
    %li
      %p
        Windows Operating System: containers can run on Windows deskop and laptops with&nbsp;
        %a{href: 'https://www.docker.com/docker-windows'} Docker for Windows
        , but I do not use it on a day-to-day basis.&nbsp;
        However, I have tried it out and helped my co-workers with it at a minimal level, so I can help with some parts of this set up.
        %br/
        Installing Docker for Windows is not as straight forward as the Linux/Mac setup.&nbsp;
        %br/
        These guides should help:
        %ul
          %li
            Installing Docker for Windows:&nbsp;
            %a{href: 'https://docs.docker.com/docker-for-windows/install/'} https://docs.docker.com/docker-for-windows/install/
          %li
            Installing Docker for Windows' dependency, WSL2:&nbsp;
            %a{href: 'https://docs.docker.com/docker-for-windows/wsl/'} https://docs.docker.com/docker-for-windows/wsl/ 
        If you cannot get Docker for Windows working, then you also have the option of installing&nbsp;
        %a{href: 'https://www.ubuntu.com/'} Ubuntu
        &nbsp;as a virtual machine inside your Windows machine. You can use&nbsp;
        %a{href: 'https://www.virtualbox.org/wiki/Downloads'} Virtual Box
        &nbsp;to manage the Ubuntu virtual machine. To summarize the alternative option: your host machine will be Windows and your guest virtual machine will be Ubuntu.

  %p
    The last thing you need in your development environment is something to write code with.&nbsp;
    You can use a&nbsp;
    = succeed '.' do
      %a{href: 'https://discuss.atom.io/t/what-is-the-difference-between-an-ide-and-an-editor/32629'} basic editor or an integrated development environment (IDE)
  %p
    For our class demonstrations, I will be using&nbsp;
    = succeed '.&nbsp;' do
      %a{href: 'https://code.visualstudio.com/'} Visual Studio Code (VS Code)
    If you are unfamiliar with editors and IDEs, then I would recommend using the same tooling as the class demonstrations, e.g. VS Code.&nbsp;
    VS Code is supported on Linux, Mac, and Windows.&nbsp;
    It is free, being actively developed, and very popular in the community.&nbsp;
    However, if you prefer a particular editor or IDE, then please feel free to continue using whatever you are comfortable with.&nbsp;
    Just be sure you can use Git and containers with whatever you decide to use.

